body {
  background: rgb(105, 93, 207);
  background: linear-gradient(180deg, rgba(105, 93, 207, 1) 0%, rgb(208, 109, 117) 100%);
  /*rgba(109, 147, 208, 1)*/
  background-attachment: fixed;
  overflow: hidden;

  cursor: url(cursor.png), auto;
  /* Hide scrollbars */
  /*edit*/

  margin-left: 2.5%;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}



/*  ----  */
.loopscroll {
  display: block;
  position: absolute;
  top: -10;
  left: -10;
  padding: 0;
  margin: 0;

  height: 3072px;
  width: 3072px;
  overflow: hidden;
  background-image: url(nebula.46b254bd.png);
  image-rendering: pixelated;

  display: block;
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-size: 100% auto;
  animation-name: backgroundloop;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-timing-function: linear;

  opacity: 0.1;
  filter: contrast(50%);

  position: absolute;
  left: -100px;
  top: -100px;
  margin: 0 auto;


}


@keyframes backgroundloop {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -3072px 0px;
  }
}


#logo {
  image-rendering: pixelated;

  display: block;
  margin-left: 3%;
  margin-right: auto;
  margin-top: 2%;
  width: 52.5%;

}







@font-face {
  font-family: 'uni05_53';
  src: URL('uni05_53.ttf') format('truetype');
}

body {
  font-family: 'uni05_53', Fallback, sans-serif;
}

#version {
  display: flex;
  margin-left: 3%;
  font-size: large;
}






.rainbow {
  background: linear-gradient(to right, #8d8dff, #9fd7fc, #9aff9a, #ff99cc, #8d8dff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 15s ease-in-out infinite;
  background-size: 400% 100%;
  position: relative;
}

@keyframes rainbow_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}






#buttons {
  color: white;
  font-size: x-large;
  text-size-adjust: auto;
  position: relative;
  left: 3.5%;
  margin-top: 30px;



  float: left;
  display: inline;
}

.ui-button, .ui-splitter, .export-button{

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;

  background-color: rgba(7, 10, 15, 0.404);
  width: 408px
    /*21%*/
  ;

  box-sizing: border-box;
  margin-top: 10px;
}

.ui-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.export-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}


#rightImage {
  image-rendering: pixelated;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 626px;
  height: 184px;
  transform: scaleX(-1);
}

#editor-interactible-ui {
  margin-top: -150px;
  margin-left: 715px;
  font-size: 25px;
  float: left;
  display: inline;
 
  background-color: rgba(0, 0, 0, 0.301);
  width: 700px;
  height: 834px;

  border-color: #06065823;
  border-style: dashed;
  border-width: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}


#editor-ui {
  margin-top: 20px;
  margin-left: 40px;
  color: rgb(233, 229, 215);
}


.interactible{
  background-color: #00000065;
}

.interactible:hover{
  background-color: rgb(233, 229, 215);
  color: #8d8dff;
}

.scrollbuttons:hover {
  background-color: rgb(233, 229, 215);
}



.ui-button-selected {
  background-color: rgba(5, 11, 20, 0.603); text-decoration: underline; border-right: solid; border-color: lime;
  border-width: 4px;
  box-sizing: content-box;
}




[active~="true"] {
  display: unset;
}



[active~="false"] {
  display: none;
}



#query-export {
  font-size: 15%;
}















.textbox-style {
  display: flex;
  width:481px;
  height: 19px;
  padding: 10px 20px;
  position: relative;
  color:black;
  display: table-cell;
  
}

.textbox-style::after,
.textbox-style::before {
  content: "";
  position: absolute;
  pointer-events: none;
  /* to click through anytime */
  border: solid 10px;
}

.textbox-style::after {
  left: 3px;
  right: 3px;
  top: 0;
  bottom: 8px;
  border-left: none;
  border-right: none;
  color: rgb(212,230,254);
}

.textbox-style::before {
  top: 3px;
  bottom: 11px;
  left: 0;
  right: 0;
  border-top: none;
  border-bottom: none;
  color: rgb(212,230,254);
}




.textbox-content {
  z-index: 1;
  position: relative;

  display: table;
  width: 501px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: rgb(212,230,254);
  top:-6px;

  line-height: 25px;
}


#prePreviousButton{
  position: relative;
  color: rgb(114, 101, 162);
  top: 135px;
  left: -220px;
}

[contenteditable] {
  outline: 0px solid transparent;
}





.loopscroll {
  z-index:-1;
}

.ui-splitter {
  padding: 3px; padding-right: 13px;
}

#miniImage{
  scale: 265%; image-rendering: pixelated;
}

